<div class="header">
  <div class="text" *ngIf="objKeys(_DataService.data['weeks']).length !== 0">
    <h1 class="title"><span translate>TITLE.timetable</span> - <span translate>NEWLESSON.NORMAL.week</span> {{currentWeek}}</h1>
    <h2 class="subtitle" translate>SUBTITLE.timetable</h2>
  </div>
  <div class="text" *ngIf="objKeys(_DataService.data['weeks']).length === 0">
    <h1 class="title" translate>TITLE.timetable</h1>
    <h2 class="subtitle" translate>SUBTITLE.timetable</h2>
  </div>
  <button class="btn btn-primary--accent" routerLink="/new-lesson" translate>TITLE.newLesson</button>
</div>
<div class="timetable-container">
  <div class="timetable-inner-container timetable-clear" *ngIf="!isDataLoaded">
    <div class="loader"></div>
  </div>
  <div class="timetable-inner-container timetable-clear" *ngIf="isDataLoaded && objKeys(_DataService.data['weeks']).length === 0">
    <div class="text">
      <h1 translate>TIMETABLE.title</h1>
      <h2 translate>TIMETABLE.subtitle</h2>
    </div>
  </div>
  <div class="timetable-inner-container" *ngIf="isDataLoaded && objKeys(_DataService.data['weeks']).length !== 0">
    <div class="timetable-week">
      <div class="timetable-day" *ngFor="let day of objKeys(_DataService.data['weeks'][currentWeek])">
        <h1 class="timetable-title" [ngClass]="{'today': getToday() === day}">{{getTranslatedDay(day)}}</h1>
        <div class="timetable-lesson" *ngFor="let lesson of getValues(currentWeek, day)" (contextmenu)="openContextMenu($event.target, lesson, currentWeek, day)">
          <p class="timetable-lesson-name">{{lesson['lesson_name']}}</p>
          <p class="timetable-time">{{lesson['start_time']}} - {{lesson['finish_time']}}</p>
          <p class="timetable-info" *ngIf="lesson['class_room'].length !== 0 && lesson['teacher_name'].length === 0"><span>{{lesson['class_room']}}</span></p>
          <p class="timetable-info" *ngIf="lesson['class_room'].length === 0 && lesson['teacher_name'].length !== 0">{{lesson['teacher_name']}}</p>
          <p class="timetable-info" *ngIf="lesson['class_room'].length !== 0 && lesson['teacher_name'].length !== 0"><span>{{lesson['class_room']}}</span>, {{lesson['teacher_name']}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contextmenu">
  <ul>
    <li appHoldDelete (holdTime)="holdHandler($event)">
      <div class="deletebg" [style.width]="deleteProgress + '%'"></div>
      <i class="eva eva-trash-outline"></i>
      <p translate>CONTEXTMENU.delete</p>
    </li>
    <li routerLink="/edit-lesson">
      <i class="eva eva-edit-2-outline"></i>
      <p translate>CONTEXTMENU.edit</p>
    </li>
  </ul>
</div>