<div class="sidebar">
  <ul>
    <li routerLink="/timetable" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <i [ngClass]="_Router.url === '/timetable' ? 'eva eva-calendar' : 'eva eva-calendar-outline'"></i>
      <p translate>TITLE.timetable</p>
    </li>
    <li routerLink="/tasks" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <i [ngClass]="_Router.url === '/tasks' ? 'eva eva-checkmark-circle-2' : 'eva eva-checkmark-circle-2-outline'"></i>
      <p translate>TITLE.tasks</p>
    </li>
    <li routerLink="/settings" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}">
      <i [ngClass]="_Router.url.startsWith('/settings') ? 'eva eva-settings' : 'eva eva-settings-outline'"></i>
      <p translate>TITLE.settings</p>
    </li>
  </ul>
</div>